.ipr-nav{
    color: #333;
    li{
        color: #333;
        a{
            color: #333 !important;
        }
    }
    .normal-text-nav{
        color: #333;
        font-size: 16px;
        margin-left: 18px;
    }
    .border-right-low{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: -12px;
            top: 50%;
            transform: translateY(-50%);
            background-color: #eee;
            height: 40px;
            width: 1px;
        }
    }
}
.m-sidenav{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    min-height: 100vh;
    max-height: 100vh;
    opacity: 0;
    width: 0%;
    background-color: #fff;
    padding: 50px 80px;
    color: #fff;
    visibility: hidden;
    margin-left: -30%;
    transition: 0.3s ease;
    overflow: scroll;

    @media only screen and (max-width : 1000px) {
        width: 40%;
    }
    @media only screen and (max-width : 768px) {
        width: 80%;
        padding: 50px 60px;
    }
    @media only screen and (max-width : 460px) {
        width: 100%;
    }

    &.active{
        visibility: visible;
        opacity: 1;
        margin-left: 0;
    }
    .sidenav-header{
        text-align: center;
        h2{
            letter-spacing: 4px;
            color: #4A696F;
        }
    }
    .sidenav-content{
        text-align: center;
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style-type: none;
                text-align: center;
                margin: 22px 0;
                &.menu-title{
                    border-bottom: 1px solid #eee;
                    padding-bottom: 16px;
                    a{
                        text-align: left    ;
                        color: #333;
                    }
                }
                a{
                    padding: 6px 12px;
                    font-size: 18px;
                }
            }
        }
        > a{
            margin-top: 40px;
        }
    }
    .sidenav-footer{
        margin-top: 100px;
        text-align: center;
        .sidenav-close{
            font-size: 22px;
            color: #4A696F; 
            text-decoration: none;
            z-index: 99;
        }
    }
    .close{
        position: absolute;
        right: 0;
        top: 0;
        margin: 20px;
        font-size: 32px;
        color: #333;
    }
}