.ipr-nav {
  color: #333;
}

.ipr-nav li {
  color: #333;
}

.ipr-nav li a {
  color: #333 !important;
}

.ipr-nav .normal-text-nav {
  color: #333;
  font-size: 16px;
  margin-left: 18px;
}

.ipr-nav .border-right-low {
  position: relative;
}

.ipr-nav .border-right-low::after {
  content: "";
  position: absolute;
  right: -12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #eee;
  height: 40px;
  width: 1px;
}

